<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log
            type="coverage-html"
            target="./report"
            charset="UTF-8"
            yui="true"
            hightlight="true"
            lowupperbound="50"
            highlowerbound="80" />
        <!--<log type="junit" target="./junit.xml" />-->
        <!--<log type="coverage-clover" target="./clover.xml" />-->
    </logging>
</phpunit>
